<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Taiwan Bike" class="p-button-text"></button>
    <button pButton type="button" label="台灣自行車資訊網" class="p-button-text"></button>

    <!-- <i class="pi pi-bars"></i> -->
  </div>

  <div class="p-toolbar-group-right">
    <button pButton type="button" label="最新消息" class="p-button-text"></button>
    <button pButton type="button" label="自行車路線" class="p-button-text"></button>
    <button pButton type="button" label="單車租借" class="p-button-text"></button>
    <button pButton type="button" label="騎乘小叮嚀" class="p-button-text"></button>
  </div>
</p-toolbar>

<router-outlet></router-outlet>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Taiwan Bike" class="p-button-text"></button>
    <button pButton type="button" label="台灣自行車資訊網" class="p-button-text"></button>

    <!-- <i class="pi pi-bars"></i> -->
    ©2021, Taiwan Bike. All Rights Reserved.
  </div>

  <div class="p-toolbar-group-right">
    <button pButton type="button" label="最新消息" class="p-button-text"></button>
    <button pButton type="button" label="自行車路線" class="p-button-text"></button>
    <button pButton type="button" label="單車租借" class="p-button-text"></button>
    <button pButton type="button" label="騎乘小叮嚀" class="p-button-text"></button>
  </div>
</p-toolbar>
